<div pn-loading-progress pn-loading="loading" class="pn-loading" ng-show="loading.total !== 0"></div>
<div class="main-view" ng-hide="loading.total > loading.finished">
    <div class="top-row">
        <div class="pn-cell top-bar" pn-top-bar pn-current="current"></div>
    </div>
    <div class="middle-row">
        <div class="pn-cell">
            <div class="pn-table">
                <div class="pn-row">
                    <div class="left-bar" pn-left-bar pn-current="current">leftbar</div>
                    <div class="main-image-view-container" pn-main-image-view pn-current="current" pn-zoom="zoom" pn-loading="loading"></div>
                    <div class="right-bar" pn-right-bar pn-current="current">
                        <i class="fa fa-expand"></i>
                        <i class="fa fa-compress"></i><br />
                        <i class="fa fa-rotate-left"></i>
                        <i class="fa fa-rotate-right"></i><br />
                        <i class="fa fa-trash-o"></i>
                        <i class="fa fa-copy"></i>
                        <i class="fa fa-cut"></i><br />
                        <i class="fa fa-arrow-left"></i>
                        <i class="fa fa-arrows"></i>
                        <i class="fa fa-arrow-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-row">
        <div class="bottom-bar" pn-bottom-bar pn-current="current" pn-loading="loading"></div>
    </div>
</div>
