<div class="main-view">
    <div class="top-row">
        <div class="pn-cell top-bar" pn-top-bar pn-current="current"></div>
    </div>
    <div class="middle-row">
        <div class="pn-cell">
            <div class="pn-table">
                <div class="pn-row">
                    <div class="left-bar" pn-left-bar pn-current="current"></div>
                    <div class="main-image-view-container" pn-main-image-view pn-current="current" pn-zoom="zoom" pn-loading="loading"></div>
                    <div class="right-bar" pn-right-bar pn-current="current">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-row">
        <div class="bottom-bar" pn-bottom-bar pn-current="current" pn-loading="loading"></div>
    </div>
</div>
